In [1]:
from scripts.load import *

Adding product_list.xlsx ...
Adding user_credit_card.pickle ...
Adding user_data.json ...
Adding user_job.csv ...
Adding merchant_data.html ...
Adding order_with_merchant_data1.parquet ...
Adding order_with_merchant_data2.parquet ...
Adding order_with_merchant_data3.csv ...
Adding staff_data.html ...
Adding campaign_data.csv ...
Adding transactional_campaign_data.csv ...
Adding line_item_data_prices1.csv ...
Adding line_item_data_prices2.csv ...
Adding line_item_data_prices3.parquet ...
Adding line_item_data_products1.csv ...
Adding line_item_data_products2.csv ...
Adding line_item_data_products3.parquet ...
Adding order_data_20200101-20200701.parquet ...
Adding order_data_20200701-20211001.pickle ...
Adding order_data_20211001-20220101.csv ...
Adding order_data_20220101-20221201.xlsx ...
Adding order_data_20221201-20230601.json ...
Adding order_data_20230601-20240101.html ...
Adding order_delays.html ...



--------------------------------------------------
Read Complete
Access the DataFrame of each file using the `all` dictionary
e.g. all["filename"]

below are the available keys for access:
1:	product_list.xlsx
2:	user_credit_card.pickle
3:	user_data.json
4:	user_job.csv
5:	merchant_data.html
6:	order_with_merchant_data1.parquet
7:	order_with_merchant_data2.parquet
8:	order_with_merchant_data3.csv
9:	staff_data.html
10:	campaign_data.csv
11:	transactional_campaign_data.csv
12:	line_item_data_prices1.csv
13:	line_item_data_prices2.csv
14:	line_item_data_prices3.parquet
15:	line_item_data_products1.csv
16:	line_item_data_products2.csv
17:	line_item_data_products3.parquet
18:	order_data_20200101-20200701.parquet
19:	order_data_20200701-20211001.pickle
20:	order_data_20211001-20220101.csv
21:	order_data_20220101-20221201.xlsx
22:	order_data_20221201-20230601.json
23:	order_data_20230601-20240101.html
24:	order_delays.html

## Cleaning `product_list.xlsx`

In [25]:
pl = all['product_list.xlsx']

In [26]:
pl

,Unnamed: 0,product_id,product_name,product_type,price
0,0,PRODUCT16794,Grandmas swedish thin pancakes,readymade_breakfast,12.81
1,1,PRODUCT61957,Chili jack oven omelet,readymade_breakfast,9.95
2,2,PRODUCT23890,Baked pears,readymade_breakfast,10.04
3,3,PRODUCT52912,Best buttermilk pancakes,readymade_breakfast,5.83
4,4,PRODUCT56387,Blackberry breakfast bars,readymade_breakfast,14.00
...,...,...,...,...,...
745,445,PRODUCT35203,tomato,grocery,17.28
746,446,PRODUCT34682,bowl,kitchenware,17.28
747,447,PRODUCT07137,dehumidifier,electronics and technology,38.07
748,448,PRODUCT29484,rice,grocery,17.28
749,449,PRODUCT22046,dove deodorant,health and hygiene,6.11

In [27]:
pl = pl.drop(columns=['Unnamed: 0'])

Below are the following products found with duplicates when filtered by `product_id`

In [29]:
pl[pl.duplicated(['product_id'], False)]

,product_id,product_name,product_type,price
40,PRODUCT10592,Scrambled egg sandwiches with onions and red p...,readymade_breakfast,13.18
44,PRODUCT61036,Blueberry banana happy face pancakes,readymade_breakfast,8.09
62,PRODUCT47439,Purple cow,readymade_breakfast,10.89
150,PRODUCT62030,Delicious cheesy bacon and green onion potato ...,readymade_lunch,19.76
327,PRODUCT47439,pair of scissors,tools,17.28
401,PRODUCT62030,chocolate,grocery,17.28
437,PRODUCT10592,tooth pick,health and hygiene,6.11
462,PRODUCT50527,slipper,apparel,17.28
499,PRODUCT38223,safety pin,accessories,5.74
509,PRODUCT50527,sofa,furniture,38.07
542,PRODUCT38223,fishing hook,accessories,5.74
589,PRODUCT61036,pair of binoculars,tools,17.28
680,PRODUCT19599,oslo paper,stationary and school supplies,5.74
684,PRODUCT19599,Christmas ornament,furniture,38.07