In [ ]:
from scripts.load import *

## Cleaning `user_credit_card.pickle`

In [ ]:
ucc = all['user_credit_card.pickle']

In [ ]:
ucc.shape

Due to the unique nature of some names, even though their spelling (e.g. DuBuque, McKenzie, etc.) are proper, they will still be conformed

In [ ]:
ucc.name = ucc.name.str.title()

In [ ]:
# check with this
ucc[ucc.name.str.fullmatch('[A-Z][a-z]+ [A-Z][a-z]+')]

According to [this wikipedia page](https://en.wikipedia.org/wiki/Payment_card_number) (not the most reliable source) that credit card numbers are composed of 8 to 19 digits, anything less should be eliminated

In [ ]:
ucc = ucc.drop(ucc[ucc.credit_card_number < 10000000].index)

In [ ]:
ucc = ucc.drop_duplicates(['user_id'])

## Cleaning `user_data.json`

In [ ]:
ud = all['user_data.json']

Converting `creation_date`s to datetime values and cleaning up any suspicious dates

In [ ]:
ud.creation_date = pd.to_datetime(ud.creation_date)

In [ ]:
ud[ud.creation_date >= pd.Timestamp.today()]

Conforming names

In [ ]:
ud.name = ud.name.str.title()

According to slight research, these countries (e.g. `Korea, Republic of`, `Venezuela (Bolivarian Republic of)`, etc.), while non-conforming, are still proper but some will be conformed
- an exception is `Cocos (Keeling) Islands` because they seem to have the `(Keeling)` String in most mentions of the country

In [274]:
import re

def conform(x):
    a = re.search('(?P<country>[a-zA-Z ]+)[,][a-zA-Z ]+', x)
    b = re.fullmatch('(?P<country>[a-zA-Z ]+)[(][a-zA-Z ]+[)]', x)
    if a:
        return a.group('country')
    elif b:
        return b.group('country')
    else: 
        return x

In [275]:
ud.country = ud.country.apply(conform)

In [ ]:
conv

In [277]:
ud.birthdate = pd.to_datetime(ud.birthdate)

In [278]:
ud

,user_id,creation_date,name,street,state,city,country,birthdate,gender,device_address,user_type
0,USER40678,2021-03-17 22:56:13,Zion Feest,14938 West Trace side,New Jersey,Birmingham,Hong Kong,1998-04-06 05:29:37,male,17:fb:f2:60:94:4b,basic
1,USER08728,2022-10-10 12:53:20,Kattie Bergstrom,4476 West Haven fort,Alabama,Irvine,Mayotte,2003-05-22 11:16:19,male,b0:17:a7:0b:d6:67,premium
2,USER29759,2020-05-20 04:34:44,Aiden Corwin,59980 North Crest chester,North Carolina,Tampa,Iraq,2008-08-29 16:42:05,female,24:f2:0b:88:2f:bd,basic
3,USER16806,2021-05-28 07:36:30,Vince Gislason,541 Radial mouth,Illinois,Orlando,New Zealand,2012-02-09 14:12:37,male,a4:f5:fd:fe:07:f9,basic
4,USER27644,2023-03-16 19:25:35,Adele Okuneva,896 Glen bury,Arizona,Reno,Mexico,1976-10-13 00:53:54,male,ac:80:b3:bc:8d:5f,premium
...,...,...,...,...,...,...,...,...,...,...,...
4995,USER49969,2021-11-18 19:04:30,Kendall Waelchi,792 North Manors haven,Florida,San Diego,Jersey,1996-03-11 09:05:32,female,8e:57:7e:62:90:b4,basic
4996,USER57209,2022-03-27 09:17:43,Lucious Kshlerin,48282 Burgs chester,Kentucky,Garland,Ethiopia,2013-07-07 08:53:27,female,00:35:b5:e4:e1:aa,basic
4997,USER36424,2022-10-05 21:36:56,Cordie Jenkins,8928 North Mountains haven,North Dakota,Scottsdale,Tonga,1991-05-18 05:07:36,male,0b:0d:57:d6:c1:ab,basic
4998,USER45166,2020-07-20 03:51:41,Tyrel Feil,920 New Manor port,Rhode Island,Arlington,Virgin Islands (U.S.),1975-12-19 02:27:16,male,83:c9:1e:4e:52:f4,premium
4999,USER54154,2020-05-13 08:43:26,Betty Zieme,19808 North Pass side,Colorado,Detroit,Zambia,2010-02-21 02:56:06,female,4c:fb:dc:fb:b7:e7,premium