In [1]:
import pandas as pd
from scripts.load import *

Adding product_list.xlsx ...
Adding user_credit_card.pickle ...
Adding user_data.json ...
Adding user_job.csv ...
Adding merchant_data.html ...
Adding order_with_merchant_data1.parquet ...
Adding order_with_merchant_data2.parquet ...
Adding order_with_merchant_data3.csv ...
Adding staff_data.html ...
Adding campaign_data.csv ...
Adding transactional_campaign_data.csv ...
Adding line_item_data_prices1.csv ...
Adding line_item_data_prices2.csv ...
Adding line_item_data_prices3.parquet ...
Adding line_item_data_products1.csv ...
Adding line_item_data_products2.csv ...
Adding line_item_data_products3.parquet ...
Adding order_data_20200101-20200701.parquet ...
Adding order_data_20200701-20211001.pickle ...
Adding order_data_20211001-20220101.csv ...
Adding order_data_20220101-20221201.xlsx ...
Adding order_data_20221201-20230601.json ...
Adding order_data_20230601-20240101.html ...
Adding order_delays.html ...



--------------------------------------------------
Read Complete
Access the DataFrame of each file using the `all` dictionary
e.g. all["filename"]

below are the available keys for access:
1:	product_list.xlsx
2:	user_credit_card.pickle
3:	user_data.json
4:	user_job.csv
5:	merchant_data.html
6:	order_with_merchant_data1.parquet
7:	order_with_merchant_data2.parquet
8:	order_with_merchant_data3.csv
9:	staff_data.html
10:	campaign_data.csv
11:	transactional_campaign_data.csv
12:	line_item_data_prices1.csv
13:	line_item_data_prices2.csv
14:	line_item_data_prices3.parquet
15:	line_item_data_products1.csv
16:	line_item_data_products2.csv
17:	line_item_data_products3.parquet
18:	order_data_20200101-20200701.parquet
19:	order_data_20200701-20211001.pickle
20:	order_data_20211001-20220101.csv
21:	order_data_20220101-20221201.xlsx
22:	order_data_20221201-20230601.json
23:	order_data_20230601-20240101.html
24:	order_delays.html

### Cleaning order data

In [2]:
##Cleaning order data
df_order1 = all['order_with_merchant_data1.parquet']
df_order2 = all['order_with_merchant_data2.parquet']
df_order3 = all['order_with_merchant_data3.csv']

print(df_order1.shape)
print(df_order2.shape)
print(df_order3.shape)

(100000, 3)
(200000, 3)
(200000, 4)

In [3]:
#Drop unnecessary indexing
df_order3 = df_order3.drop(columns=['Unnamed: 0'])

In [4]:
#Combine all order files
df_orders = pd.concat([df_order1, df_order2, df_order3], ignore_index=True)

In [5]:
#order_with_merchant_data 1-3 cleaned completely, to check:
print(df_orders.shape)
print(df_orders.nunique())
print(df_orders.isna().sum())

(500000, 3)
order_id       500000
merchant_id      4812
staff_id         4794
dtype: int64
order_id       0
merchant_id    0
staff_id       0
dtype: int64

### Cleaning merchant data

In [6]:
# Cleaning merchant data
df_merchant_data = all['merchant_data.html'][0]

print(df_merchant_data.shape)
print(df_merchant_data.nunique())
print(df_merchant_data.isna().sum())

(5000, 9)
Unnamed: 0        5000
merchant_id       4812
creation_date     5000
name               529
street            5000
state               50
city                98
country            249
contact_number    5000
dtype: int64
Unnamed: 0        0
merchant_id       0
creation_date     0
name              0
street            0
state             0
city              0
country           0
contact_number    0
dtype: int64

In [7]:
#Remove Unnamed: 0 column
df_merchant_data = df_merchant_data.drop('Unnamed: 0', axis=1)

In [8]:
#Remove duplicates based on merchant_id, keep first instance based on creation_date
df_merchant_data = df_merchant_data.sort_values(by=['merchant_id', 'creation_date']).drop_duplicates(subset=['merchant_id'], keep='first')

In [9]:
#Standardize contact_number
df_merchant_data['contact_number'] = df_merchant_data['contact_number'].str.replace('\.', '-', regex=True)
df_merchant_data['contact_number'] = df_merchant_data['contact_number'].str.replace('[^0-9+()-]', '', regex=True)

In [10]:
#Title case for address except for country
df_merchant_data['street'] = df_merchant_data['street'].str.title()
df_merchant_data['state'] = df_merchant_data['state'].str.title()
df_merchant_data['city'] = df_merchant_data['city'].str.title()

In [11]:
#merchant data cleaned completely, to check:
print(df_merchant_data.shape)
print(df_merchant_data.nunique())
print(df_merchant_data.isna().sum())

(4812, 8)
merchant_id       4812
creation_date     4812
name               529
street            4812
state               50
city                98
country            249
contact_number    4812
dtype: int64
merchant_id       0
creation_date     0
name              0
street            0
state             0
city              0
country           0
contact_number    0
dtype: int64

### Cleaning staff data

In [12]:
# Cleaning staff data
df_staff_data = all['staff_data.html'][0]

print(df_staff_data.shape)
print(df_staff_data.nunique())
print(df_staff_data.isna().sum())

(5000, 10)
Unnamed: 0        5000
staff_id          4794
name              4983
job_level            3
street            5000
state               50
city                98
country            249
contact_number    5000
creation_date     5000
dtype: int64
Unnamed: 0        0
staff_id          0
name              0
job_level         0
street            0
state             0
city              0
country           0
contact_number    0
creation_date     0
dtype: int64

In [13]:
#Remove Unnamed: 0 column
df_staff_data = df_staff_data.drop('Unnamed: 0', axis=1)

In [14]:
#Remove duplicates based on staff_id, keep first instance based on creation_date
df_staff_data = df_staff_data.sort_values(by=['staff_id', 'creation_date']).drop_duplicates(subset=['staff_id'], keep='first')

In [15]:
#Standardize contact_number
df_staff_data['contact_number'] = df_staff_data['contact_number'].str.replace('\.', '-', regex=True)
df_staff_data['contact_number'] = df_staff_data['contact_number'].str.replace('[^0-9+()-]', '', regex=True)

In [16]:
#Standardize strings, use title case except for country
df_staff_data['name'] = df_staff_data['name'].str.title()
df_staff_data['job_level'] = df_staff_data['job_level'].str.title()
df_staff_data['street'] = df_staff_data['street'].str.title()
df_staff_data['state'] = df_staff_data['state'].str.title()
df_staff_data['city'] = df_staff_data['city'].str.title()

In [17]:
#merchant data cleaned completely, to check:
print(df_staff_data.shape)
print(df_staff_data.nunique())
print(df_staff_data.isna().sum())

(4794, 9)
staff_id          4794
name              4779
job_level            3
street            4794
state               50
city                98
country            249
contact_number    4794
creation_date     4794
dtype: int64
staff_id          0
name              0
job_level         0
street            0
state             0
city              0
country           0
contact_number    0
creation_date     0
dtype: int64