merchant_data.html
Unnamed: 0 redundant with index, useless
repeating merchant_id (can use MERCHANT+INDEX, 
must edit merchant_id foreign keys on dependencies)
no null values
contact_number not standardized

order_with_merchant_data1
no problems

order_with_merchant_data2
no problems

order_with_merchant_data3
Unnamed: 0 column is just index + 30000, useless

staff_data
Unnamed : 0 
repeating staff_id
no null values
contact_number not standardized

In [3]:
import pandas as pd
from scripts.load import *

Adding product_list.xlsx ...
Adding user_credit_card.pickle ...
Adding user_data.json ...
Adding user_job.csv ...
Adding merchant_data.html ...
Adding order_with_merchant_data1.parquet ...
Adding order_with_merchant_data2.parquet ...
Adding order_with_merchant_data3.csv ...
Adding staff_data.html ...
Adding campaign_data.csv ...
Adding transactional_campaign_data.csv ...
Adding line_item_data_prices1.csv ...
Adding line_item_data_prices2.csv ...
Adding line_item_data_prices3.parquet ...
Adding line_item_data_products1.csv ...
Adding line_item_data_products2.csv ...
Adding line_item_data_products3.parquet ...
Adding order_data_20200101-20200701.parquet ...
Adding order_data_20200701-20211001.pickle ...
Adding order_data_20211001-20220101.csv ...
Adding order_data_20220101-20221201.xlsx ...
Adding order_data_20221201-20230601.json ...
Adding order_data_20230601-20240101.html ...
Adding order_delays.html ...



--------------------------------------------------
Read Complete
Access the DataFrame of each file using the `all` dictionary
e.g. all["filename"]

below are the available keys for access:
1:	product_list.xlsx
2:	user_credit_card.pickle
3:	user_data.json
4:	user_job.csv
5:	merchant_data.html
6:	order_with_merchant_data1.parquet
7:	order_with_merchant_data2.parquet
8:	order_with_merchant_data3.csv
9:	staff_data.html
10:	campaign_data.csv
11:	transactional_campaign_data.csv
12:	line_item_data_prices1.csv
13:	line_item_data_prices2.csv
14:	line_item_data_prices3.parquet
15:	line_item_data_products1.csv
16:	line_item_data_products2.csv
17:	line_item_data_products3.parquet
18:	order_data_20200101-20200701.parquet
19:	order_data_20200701-20211001.pickle
20:	order_data_20211001-20220101.csv
21:	order_data_20220101-20221201.xlsx
22:	order_data_20221201-20230601.json
23:	order_data_20230601-20240101.html
24:	order_delays.html

In [4]:
df_merchant_data = all['merchant_data.html'][0]
df_order1 = all['order_with_merchant_data1.parquet']
df_order2 = all['order_with_merchant_data2.parquet']
df_order3 = all['order_with_merchant_data3.csv']

In [5]:
print(df_merchant_data.shape)
print(df_merchant_data.nunique())
print(df_merchant_data.isna().sum())

(5000, 9)
Unnamed: 0        5000
merchant_id       4812
creation_date     5000
name               529
street            5000
state               50
city                98
country            249
contact_number    5000
dtype: int64
Unnamed: 0        0
merchant_id       0
creation_date     0
name              0
street            0
state             0
city              0
country           0
contact_number    0
dtype: int64

In [6]:
df_merchant_data.sample(20)

,Unnamed: 0,merchant_id,creation_date,name,street,state,city,country,contact_number
2447,2447,MERCHANT38192,2020-05-19 14:03:24,Copyright Clearance Center,78640 Mount side,South Carolina,San Jose,Sierra Leone,851.833.8309
4353,4353,MERCHANT43154,2021-12-16 06:51:12,Ensco,70759 North Cape chester,New Mexico,Albuquerque,Sierra Leone,(349)581-1768
710,710,MERCHANT42341,2021-07-08 23:06:59,WeMakeItSafer,4794 Villages borough,Mississippi,Phoenix,Mali,419-118-8390
4631,4631,MERCHANT62549,2020-01-16 22:34:34,nGAP Incorporated,33290 Fort burgh,Ohio,Orlando,Antigua and Barbuda,1-318-499-0775
1915,1915,MERCHANT36298,2021-10-27 02:24:23,Mango Transit,430 Crescent mouth,Massachusetts,Baltimore,Iran (Islamic Republic of),1-417-170-4091
2761,2761,MERCHANT55756,2020-08-29 10:21:59,Chubb,161 New Burgs borough,Massachusetts,Sacramento,Andorra,1-603-098-6051
1479,1479,MERCHANT40524,2020-11-23 04:41:49,ideas42,9431 Ramp borough,Arizona,Winston-Salem,Japan,862.666.2696
1797,1797,MERCHANT20766,2023-01-16 18:06:27,Nationwide Mutual Insurance Company,464 North Squares port,New Jersey,Arlington,Lesotho,1-149-635-3882
3689,3689,MERCHANT42410,2021-07-06 15:24:37,Civinomics,6551 West Extensions mouth,Alabama,Raleigh,Papua New Guinea,192-536-3942
4168,4168,MERCHANT27462,2020-02-29 04:49:09,PricewaterhouseCoopers (PWC),368 North Knoll ville,Oklahoma,Houston,Malawi,(497)303-9713
3044,3044,MERCHANT0078,2020-12-26 02:56:09,Paxata,810 Point borough,Georgia,Glendale,Saudi Arabia,(904)999-6827
4567,4567,MERCHANT21357,2023-04-15 19:31:02,Estately,87786 Ridge furt,Illinois,Corpus Christi,Belarus,634-336-9398
554,554,MERCHANT50959,2020-02-23 17:05:19,Nautilytics,49904 West Rue port,Nebraska,Phoenix,Slovakia,411.674.7146
3146,3146,MERCHANT37154,2023-10-28 19:22:32,"Morningstar, Inc.",4678 South Brook bury,Ohio,Milwaukee,Marshall Islands,(238)834-0191
530,530,MERCHANT21747,2020-01-01 11:26:28,The Vanguard Group,4584 Port Locks ville,Indiana,Laredo,Sudan,758.630.7747
3421,3421,MERCHANT21116,2023-07-28 04:36:18,"Ontodia, Inc",264 Mountains stad,Texas,Jersey,France,371.823.6187
2748,2748,MERCHANT42682,2023-06-10 04:09:37,CrowdANALYTIX,441 Port Streets bury,Kansas,Sacramento,CuraÃ§ao,(781)080-6769
97,97,MERCHANT57324,2021-07-28 09:51:44,J.P. Morgan Chase,23530 South Fort view,Vermont,San Diego,Latvia,634.330.2755
312,312,MERCHANT59721,2022-01-31 02:15:51,"Lumesis, Inc.",313 Hollow ton,Utah,Toledo,CuraÃ§ao,849.932.8674
3534,3534,MERCHANT57232,2021-03-18 07:58:50,karmadata,4982 Port Forest port,Washington,Tampa,Cameroon,(226)975-7736

In [11]:
print(df_order1.shape)
print(df_order1.nunique())
print(df_order1.isna().sum())

(100000, 3)
order_id       100000
merchant_id      4812
staff_id         4794
dtype: int64
order_id       0
merchant_id    0
staff_id       0
dtype: int64

In [12]:
print(df_order2.shape)
print(df_order2.nunique())
print(df_order2.isna().sum())

(200000, 3)
order_id       200000
merchant_id      4812
staff_id         4794
dtype: int64
order_id       0
merchant_id    0
staff_id       0
dtype: int64

In [13]:
print(df_order3.shape)
print(df_order3.nunique())
print(df_order3.isna().sum())

(200000, 4)
Unnamed: 0     200000
order_id       200000
merchant_id      4812
staff_id         4794
dtype: int64
Unnamed: 0     0
order_id       0
merchant_id    0
staff_id       0
dtype: int64

In [61]:
df_order1.sample(20)

                                   order_id    merchant_id      staff_id
19794  8d1d76bb-6205-41a3-8724-f9f2ba34a3c3  MERCHANT44203  STAFF0007564
72251  746d9c35-a109-474c-a8a4-c4e074556b15  MERCHANT63524  STAFF0026141
68579  18b50e67-d441-40be-8a55-930809b2870d  MERCHANT41751  STAFF0040832
38839  30926d32-83e2-45d3-a9a5-5705666e210b  MERCHANT58489  STAFF0010267
91115  e0fa6b5d-f4d8-482c-8f60-87dd4a1a29ca  MERCHANT10443  STAFF0058102
42484  ae052d66-af47-4862-bc26-2b318eec318d  MERCHANT51392  STAFF0052468
90025  12a50d43-b36c-463f-97b3-70b6722c5b51  MERCHANT57200  STAFF0048039
3987   7aba47eb-564b-43cd-94f0-40596115acee  MERCHANT22765  STAFF0052636
73590  90ed72a2-4fcc-41f8-8665-a31907231a38  MERCHANT13394  STAFF0048680
65338  c82a8380-6e80-4628-a508-4e71563eb129  MERCHANT48139  STAFF0024874
22925  401b4ef1-8867-4fdc-bcc2-307fdfcfb927  MERCHANT22947  STAFF0065102
65267  642422d3-f0f4-4b46-9dee-d18c3001df0a  MERCHANT10775  STAFF0000026
75958  2ad5563b-d2ef-40d5-b382-1465a3d58149  MERCHANT35361  STAFF0013988
38844  39679abb-01fb-4343-8ae7-87f0ed0f5091  MERCHANT51096  STAFF0026507
88554  8005a54a-8eb5-429c-b483-6a7d91baf185  MERCHANT29129  STAFF0021841
10273  127a3e0d-8098-4810-a9d4-11082330e701  MERCHANT48642  STAFF0018906
34079  2730e170-03dc-4dab-aaf8-f51fa32ec8d9  MERCHANT31622  STAFF0043917
51385  59e66765-c0b7-4247-ad42-6401abf33941  MERCHANT59823  STAFF0003012
82263  5c336151-f0a0-4944-9849-cdfc9764acbb  MERCHANT28457  STAFF0020463
51073  fc722eed-deb3-4000-913f-8cc3745e4fea  MERCHANT61111  STAFF0057912

In [126]:
df_order2.sample(20)

                                    order_id    merchant_id      staff_id
247725  88941484-5d5a-4a70-b42e-b41b9ef036e6  MERCHANT26347  STAFF0012114
283279  2f52b492-ee98-425b-bd92-fa7985cf1ed5   MERCHANT5959  STAFF0042289
124793  60a8f52d-9748-43e0-8ef4-ebb515abd058   MERCHANT9089  STAFF0035956
268602  e1893e03-0575-4b60-a8d5-756192287116   MERCHANT1660  STAFF0053898
239549  b87e0d55-0265-4e0a-a733-d864646ea94a  MERCHANT56018  STAFF0034177
200328  278f9af8-6684-4bc1-98e9-4e40e3278fc2  MERCHANT13619  STAFF0039859
146331  3e582036-c223-4536-80e8-1ecbe109ef98  MERCHANT55277  STAFF0019450
251493  c811ba7e-4a8d-4f65-b955-78df3d8f9ee1  MERCHANT40954  STAFF0058413
157687  95b2b3c5-6d10-487f-aea4-4ad2dce2530c   MERCHANT0261  STAFF0005562
166373  15c514be-abf3-402c-8628-720c7ce643c1  MERCHANT51331  STAFF0061473
116220  3713ea73-c384-4edd-9213-dda0a5e85fd2  MERCHANT54834  STAFF0016453
209423  993bac3b-20fe-41b5-925b-36650bb3c1c5  MERCHANT21747  STAFF0002584
226722  6bc422d9-c6c6-431b-84a1-4313e8b9e6e1  MERCHANT52631  STAFF0022950
135793  ea690105-9bdf-43fc-a034-a05d8e934c03  MERCHANT54669  STAFF0051062
176136  7817fbd9-31bf-4655-9e80-3744119b12fe  MERCHANT47274  STAFF0032754
191798  a7c3ca38-4601-4a2f-a414-30a7d501c3fa  MERCHANT63181  STAFF0005443
151919  f480e539-b4f2-453f-9027-8b0535b1a585   MERCHANT8856  STAFF0030526
280389  82d27224-cf88-4066-8169-a3e2a10efbe4  MERCHANT49357  STAFF0025662
252087  8b795b6a-dc63-4c45-9215-3179de8585c0  MERCHANT24459  STAFF0026586
223825  65ba75db-49cd-4d63-93bb-aa3205cd8b00  MERCHANT58900  STAFF0060986

In [210]:
df_order3.sample(20)

,Unnamed: 0,order_id,merchant_id,staff_id
66084,366084,9835ef56-7f9b-4960-ae17-598bcccf82fb,MERCHANT20217,STAFF0033200
33092,333092,8aceb36c-abc1-418d-8b7f-62f378f93ebb,MERCHANT39620,STAFF0039344
171764,471764,03425337-e73b-40f0-b106-5e81a14dcd33,MERCHANT30526,STAFF0007485
169484,469484,613b6a22-e8e5-44fc-8c04-d6896783a4a9,MERCHANT0605,STAFF0044483
131013,431013,f802dda1-ded8-44f7-ae9b-909b61895eeb,MERCHANT0721,STAFF0034450
178991,478991,ea5f54f2-579e-41a2-b83f-1fd51f976a57,MERCHANT3278,STAFF0005340
1703,301703,c28eaafd-0c82-4442-8b5c-8b2dd65c0093,MERCHANT36031,STAFF0016453
136527,436527,5fc2fc25-b93d-4f02-8a6d-4a5acc8407d7,MERCHANT21463,STAFF0024424
31763,331763,51a6f858-75eb-459b-9250-77f2aca5b496,MERCHANT58780,STAFF0009455
127344,427344,2c47309b-ac3f-48e1-a322-32c7868ddf2f,MERCHANT4813,STAFF0025002
63436,363436,48cbe2fe-835c-494e-8ba0-bd41a96d7b02,MERCHANT5170,STAFF0056145
131609,431609,68a94674-6645-4aeb-bb27-3cd1046a1432,MERCHANT8114,STAFF0022760
188102,488102,06831d2e-fe73-4ed8-adbe-6ff3e920fe19,MERCHANT39636,STAFF0029019
115137,415137,4785f4e9-befe-4e4a-8135-adcf47d7c50f,MERCHANT51894,STAFF0021604
187054,487054,035d5bc8-332a-43e2-ae42-67224cc3f944,MERCHANT55104,STAFF0024556
165960,465960,268902ce-ea32-4a19-bdf0-ecd8fd0933b2,MERCHANT52135,STAFF0053657
199013,499013,a1c9ff45-81b0-4490-9596-b73e505f0d09,MERCHANT33507,STAFF0047658
188695,488695,becd5eaf-2b0e-4ecf-bb12-d397cd0006e5,MERCHANT14521,STAFF0044346
137489,437489,93f28bf4-ee6c-4072-a6dd-6ee5695f3538,MERCHANT34577,STAFF0027336
117441,417441,345d73c9-de1e-4929-b79e-a285b2693bf8,MERCHANT63235,STAFF0064227

In [211]:
df_staff = all['staff_data.html'][0]

In [212]:
print(df_staff.shape)
print(df_staff.nunique())
print(df_staff.isna().sum())

(5000, 10)
Unnamed: 0        5000
staff_id          4794
name              4983
job_level            3
street            5000
state               50
city                98
country            249
contact_number    5000
creation_date     5000
dtype: int64
Unnamed: 0        0
staff_id          0
name              0
job_level         0
street            0
state             0
city              0
country           0
contact_number    0
creation_date     0
dtype: int64

In [227]:
df_staff.sample(20)

,Unnamed: 0,staff_id,name,job_level,street,state,city,country,contact_number,creation_date
3844,3844,STAFF0062016,Camron Pfeffer,entry,201 Lake Mission borough,North Dakota,Winston-Salem,Ghana,1-517-815-5839,2022-01-21 08:46:05
216,216,STAFF0031594,Marlon Lindgren,entry,857 Lake Prairie furt,South Carolina,Portland,Sweden,1-925-375-4677,2022-11-02 22:51:14
4914,4914,STAFF0045445,Cara Grady,entry,53784 Square land,Florida,Toledo,Viet Nam,1-337-803-2220,2021-03-21 00:46:03
3637,3637,STAFF0062333,Myrtice Lubowitz,entry,51602 Route side,Virginia,Fort Worth,Saint BarthÃ©lemy,(824)923-6708,2023-08-04 18:14:55
270,270,STAFF0009455,Amara Cummings,entry,1392 East Valleys borough,Texas,Charlotte,Lesotho,621-630-8444,2021-02-05 18:31:21
4525,4525,STAFF0006366,Cedrick Hintz,intermediate,47508 East Knolls bury,New Mexico,San Bernardino,Tajikistan,(304)078-4714,2021-01-23 03:18:51
1332,1332,STAFF0057918,Mason Maggio,entry,79249 East Manors town,Florida,Austin,Brazil,839-108-1719,2022-08-06 23:57:38
4894,4894,STAFF0056614,Alexys Witting,intermediate,801 Summit borough,Iowa,Lubbock,Armenia,901.703.1539,2022-09-06 22:55:45
2500,2500,STAFF0019801,Ottilie Brown,entry,32797 Port Shoals berg,New Jersey,Oklahoma,Egypt,1-000-267-8502,2020-05-07 13:59:12
2412,2412,STAFF0061954,Abdullah Waters,intermediate,34941 Wall mouth,South Dakota,Anaheim,Egypt,836-962-9699,2020-12-13 20:24:55
2306,2306,STAFF0043942,Althea Mitchell,entry,313 Wells berg,Connecticut,Nashville-Davidson,Palau,1-785-803-3866,2020-07-20 02:35:55
2453,2453,STAFF0048673,Cristian Wiegand,senior,93241 Canyon stad,Rhode Island,Lexington-Fayette,French Polynesia,931-648-7453,2020-12-23 18:20:48
901,901,STAFF0043513,Eliane Lockman,entry,7846 Ways town,Ohio,San Antonio,San Marino,895-987-5246,2020-09-09 02:55:51
114,114,STAFF0061898,Ernie Feeney,intermediate,66796 Rapid fort,Delaware,Lubbock,Ireland,1-113-500-7276,2023-07-28 19:57:16
2266,2266,STAFF0063061,Luis Jacobi,intermediate,5666 Via bury,Utah,Buffalo,United States of America,472.189.5728,2021-07-02 06:23:25
2931,2931,STAFF0020338,Judy Kuphal,intermediate,339 Squares berg,Connecticut,Winston-Salem,American Samoa,293.054.1763,2021-06-05 21:49:46
4661,4661,STAFF0018780,Brooks Dicki,entry,6862 South Mews side,Colorado,Pittsburgh,Trinidad and Tobago,612.746.8972,2021-03-31 20:29:56
3614,3614,STAFF0000896,Tessie Rohan,entry,74761 East Forges ville,Washington,Greensboro,Croatia,(075)206-8771,2022-07-29 20:18:25
2847,2847,STAFF0008496,Karen Funk,entry,88178 East Viaduct town,Massachusetts,Houston,Canada,100.490.7553,2023-11-15 13:17:05
1408,1408,STAFF0047999,Mittie Mertz,intermediate,623 South Islands bury,Minnesota,Louisville/Jefferson,Faroe Islands,(138)152-1956,2022-08-26 08:48:44