### Load Data

In [1]:
import pandas as pd
from scripts.load import *

Adding product_list.xlsx ...
Adding user_credit_card.pickle ...
Adding user_data.json ...
Adding user_job.csv ...
Adding merchant_data.html ...
Adding order_with_merchant_data1.parquet ...
Adding order_with_merchant_data2.parquet ...
Adding order_with_merchant_data3.csv ...
Adding staff_data.html ...
Adding campaign_data.csv ...
Adding transactional_campaign_data.csv ...
Adding line_item_data_prices1.csv ...
Adding line_item_data_prices2.csv ...
Adding line_item_data_prices3.parquet ...
Adding line_item_data_products1.csv ...
Adding line_item_data_products2.csv ...
Adding line_item_data_products3.parquet ...
Adding order_data_20200101-20200701.parquet ...
Adding order_data_20200701-20211001.pickle ...
Adding order_data_20211001-20220101.csv ...
Adding order_data_20220101-20221201.xlsx ...
Adding order_data_20221201-20230601.json ...
Adding order_data_20230601-20240101.html ...
Adding order_delays.html ...



--------------------------------------------------
Read Complete
Access the DataFrame of each file using the `all` dictionary
e.g. all["filename"]

below are the available keys for access:
1:	product_list.xlsx
2:	user_credit_card.pickle
3:	user_data.json
4:	user_job.csv
5:	merchant_data.html
6:	order_with_merchant_data1.parquet
7:	order_with_merchant_data2.parquet
8:	order_with_merchant_data3.csv
9:	staff_data.html
10:	campaign_data.csv
11:	transactional_campaign_data.csv
12:	line_item_data_prices1.csv
13:	line_item_data_prices2.csv
14:	line_item_data_prices3.parquet
15:	line_item_data_products1.csv
16:	line_item_data_products2.csv
17:	line_item_data_products3.parquet
18:	order_data_20200101-20200701.parquet
19:	order_data_20200701-20211001.pickle
20:	order_data_20211001-20220101.csv
21:	order_data_20220101-20221201.xlsx
22:	order_data_20221201-20230601.json
23:	order_data_20230601-20240101.html
24:	order_delays.html

In [2]:
df_campaign = pd.read_csv('Project Dataset\Marketing Department\campaign_data.csv',sep='\t')
df_trans_campaign = all['transactional_campaign_data.csv']

---
### campaign_data.csv

> To Fix:
- [ ] Improper content formatting: each data is separated by \t instead of comma
- [ ] Inconsistent discount formatting: there are {'%', 'pct', '%%', 'percent'}
- [ ] Campaign name may be reformatted

>Correct Format: 
- campaign_id 
- campaign_description

In [3]:
df_campaign.head(10)

,Unnamed: 0,campaign_id,campaign_name,campaign_description,discount
0,0,CAMPAIGN24776,wouldn't you know it,"""Twee retro vinyl single-origin coffee sartori...",1%
1,1,CAMPAIGN33679,could be written on the back of a postage stamp,"""Fanny pack gentrify cardigan messenger bag."" ...",1pct
2,2,CAMPAIGN49972,me neither,"""DIY pug leggings everyday craft beer cardigan...",10%%
3,3,CAMPAIGN61872,on the huh,"""Trust fund pinterest chambray."" - Claude Aufd...",5%
4,4,CAMPAIGN03110,stick a fork in it,"""YOLO tumblr Yuccie austin."" - Jordi Kunde",1percent
5,5,CAMPAIGN46302,you must be new here,"""Craft beer XOXO hella tacos chillwave cred or...",1pct
6,6,CAMPAIGN11190,mind your own beeswax,"""Street shoreditch viral before they sold out ...",10pct
7,7,CAMPAIGN53595,how do I get to the train station,"""Craft beer venmo lomo fixie readymade marfa.""...",20pct
8,8,CAMPAIGN29983,would it hurt,"""Vegan migas ramps keytar wolf cray kickstarte...",1%
9,9,CAMPAIGN52447,pound for pound,"""Semiotics biodiesel everyday craft beer etsy ...",1percent

In [4]:
df_campaign.describe

<bound method NDFrame.describe of    Unnamed: 0    campaign_id                                    campaign_name  \
0           0  CAMPAIGN24776                             wouldn't you know it
1           1  CAMPAIGN33679  could be written on the back of a postage stamp
2           2  CAMPAIGN49972                                       me neither
3           3  CAMPAIGN61872                                       on the huh
4           4  CAMPAIGN03110                               stick a fork in it
5           5  CAMPAIGN46302                             you must be new here
6           6  CAMPAIGN11190                            mind your own beeswax
7           7  CAMPAIGN53595                how do I get to the train station
8           8  CAMPAIGN29983                                    would it hurt
9           9  CAMPAIGN52447                                  pound for pound

                                campaign_description  discount
0  "Twee retro vinyl single-origin coffee sartori...        1%
1  "Fanny pack gentrify cardigan messenger bag." ...      1pct
2  "DIY pug leggings everyday craft beer cardigan...      10%%
3  "Trust fund pinterest chambray." - Claude Aufd...        5%
4         "YOLO tumblr Yuccie austin." - Jordi Kunde  1percent
5  "Craft beer XOXO hella tacos chillwave cred or...      1pct
6  "Street shoreditch viral before they sold out ...     10pct
7  "Craft beer venmo lomo fixie readymade marfa."...     20pct
8  "Vegan migas ramps keytar wolf cray kickstarte...        1%
9  "Semiotics biodiesel everyday craft beer etsy ...  1percent  >

In [5]:
print(df_campaign.shape)

(10, 5)

In [6]:
print(df_campaign.nunique())

Unnamed: 0              10
campaign_id             10
campaign_name           10
campaign_description    10
discount                 7
dtype: int64

In [7]:
print(df_campaign.isna().sum())

Unnamed: 0              0
campaign_id             0
campaign_name           0
campaign_description    0
discount                0
dtype: int64

### transactional_campaign_data.csv

> To Fix:
- [ ] Unnamed column ?
- [ ] There are transaction_date that are beyond current date --- December 30, 2023 //sinasama din ba mga ganto
- [ ] inconsistent name column estimated arrival --> change to estimated_arrival? 

>Correct Format: 
- campaign_id 
- order_id 
- availed   // okay lang ba na values yung 1/0 as boolean or mas readable yung words

In [8]:
df_trans_campaign.sample(10)

,Unnamed: 0,transaction_date,campaign_id,order_id,estimated arrival,availed
67048,267548,2020-03-27,CAMPAIGN49972,869f94fb-643f-476c-a1b2-2d925ff8e04f,4days,1
16891,68102,2020-07-21,CAMPAIGN53595,c39f5bf6-a408-45a3-ad8d-69c64b69762e,5days,1
58478,233345,2021-09-25,CAMPAIGN61872,5cec2bb5-6583-468f-a9e2-45a9c843e778,15days,0
1515,5948,2021-06-20,CAMPAIGN53595,30e8f66a-a9d4-43c4-b780-29622410dfa8,8days,0
35152,140389,2023-09-27,CAMPAIGN29983,56614ca1-36dc-43db-bf90-4b12af2f4571,4days,0
58993,235450,2023-08-23,CAMPAIGN53595,8de76ebb-fff0-4365-bd4d-91cd62a5fa18,4days,1
96594,386750,2023-11-16,CAMPAIGN11190,af9a7862-722b-4b7a-8881-faebc9c05eea,14days,0
79374,317805,2023-06-25,CAMPAIGN29983,694d9f17-0a9a-477e-8fe4-2f4975ca259c,7days,1
53112,211766,2021-01-28,CAMPAIGN53595,4f381363-1357-4089-bce0-0caa9cc6b16e,4days,1
72749,291052,2021-10-26,CAMPAIGN29983,31be8a31-a14f-4d7b-9869-b7d0ffe2327c,14days,1

In [16]:
df_trans_campaign[df_trans_campaign['availed']==False]

,Unnamed: 0,transaction_date,campaign_id,order_id,estimated arrival,availed
1,4,2021-10-12,CAMPAIGN46302,b4c411de-2fd3-4806-91ae-165edc9baa12,13days,0
12,40,2020-03-16,CAMPAIGN49972,579acffb-9fbf-4d5d-be56-19bb793c7e99,4days,0
13,41,2021-10-11,CAMPAIGN24776,84295de8-90c2-4e67-a1d9-b1ffab45623f,13days,0
17,63,2022-05-24,CAMPAIGN49972,1fc6e535-2d1c-4bef-b07a-f144c66a51a9,4days,0
19,67,2020-02-20,CAMPAIGN29983,c218f18b-d8a6-4125-a408-d05a15b95e92,5days,0
...,...,...,...,...,...,...
124867,499916,2023-10-03,CAMPAIGN49972,e5c40b54-4345-4d99-9a62-01fbd4d2d07b,12days,0
124872,499950,2020-11-17,CAMPAIGN53595,fa0c44d5-263e-4164-9a72-7c8be3ea1ec3,5days,0
124873,499951,2021-06-25,CAMPAIGN03110,74aaf235-a579-4dad-8197-8b6cedc85a70,5days,0
124881,499986,2022-01-23,CAMPAIGN11190,f628455c-ad0a-444f-96c3-931f6a1912e9,9days,0
124882,499990,2022-04-14,CAMPAIGN61872,6a5163c2-ba62-461c-a729-5b06fe266bd9,12days,0

In [17]:
df_trans_campaign[df_trans_campaign['availed']==True]

,Unnamed: 0,transaction_date,campaign_id,order_id,estimated arrival,availed
0,2,2023-08-14,CAMPAIGN49972,0612c246-57f1-40e8-9993-0f8d41992049,10days,1
2,6,2023-01-30,CAMPAIGN29983,26de6b40-db2d-40b9-a64c-58736eaf0381,3days,1
3,8,2022-01-05,CAMPAIGN46302,26b60a4e-aafe-4b99-bace-034d088a4a53,8days,1
4,9,2023-09-19,CAMPAIGN46302,4aab29ae-e610-46bf-92af-199f6f420cee,14days,1
5,16,2020-07-01,CAMPAIGN46302,3312851e-28dc-4508-8003-09ba304ce9e2,11days,1
...,...,...,...,...,...,...
124880,499982,2022-02-14,CAMPAIGN46302,ceafa665-307f-4c9e-b1bd-79577a450eb9,12days,1
124883,499991,2022-11-23,CAMPAIGN11190,883e2fe2-bbdf-4b5e-8348-c2bcba07da0e,15days,1
124884,499992,2023-07-28,CAMPAIGN33679,575b0a2d-5539-4565-a10b-1f4f6516cd27,12days,1
124885,499995,2020-04-12,CAMPAIGN49972,ba506489-1505-481d-b0b1-8cdbf04a515f,6days,1
124886,499997,2023-03-24,CAMPAIGN52447,2b2e775f-d6cd-4659-9a88-b4950bc326c0,15days,1

In [10]:
df_trans_campaign['estimated arrival'].sort_values().sample(10)

68184     10days
90527      4days
6476      10days
110771    14days
92700      8days
17186      5days
12912     12days
8082       7days
44088      7days
111517    11days
Name: estimated arrival, dtype: object

In [11]:
df_trans_campaign['transaction_date'].sort_values(ascending=False)

122751    2023-12-30
62337     2023-12-30
15067     2023-12-30
116434    2023-12-30
72091     2023-12-30
             ...
28659     2020-01-01
93776     2020-01-01
89988     2020-01-01
102600    2020-01-01
21156     2020-01-01
Name: transaction_date, Length: 124887, dtype: object

In [12]:
print(df_trans_campaign.shape)

(124887, 6)

In [13]:
print(df_trans_campaign.nunique())

Unnamed: 0           124887
transaction_date       1432
campaign_id              10
order_id             124887
estimated arrival        13
availed                   2
dtype: int64

In [14]:
print(df_trans_campaign.duplicated().sort_values(ascending=False))

0         False
83239     False
83267     False
83266     False
83265     False
          ...
41624     False
41623     False
41622     False
41621     False
124886    False
Length: 124887, dtype: bool

In [15]:
print(df_trans_campaign.isna().sum())

Unnamed: 0           0
transaction_date     0
campaign_id          0
order_id             0
estimated arrival    0
availed              0
dtype: int64