In [1]:
import pandas as pd
from scripts.load import *

Adding product_list.xlsx ...
Adding user_credit_card.pickle ...
Adding user_data.json ...
Adding user_job.csv ...
Adding merchant_data.html ...
Adding order_with_merchant_data1.parquet ...
Adding order_with_merchant_data2.parquet ...
Adding order_with_merchant_data3.csv ...
Adding staff_data.html ...
Adding campaign_data.csv ...
Adding transactional_campaign_data.csv ...
Adding line_item_data_prices1.csv ...
Adding line_item_data_prices2.csv ...
Adding line_item_data_prices3.parquet ...
Adding line_item_data_products1.csv ...
Adding line_item_data_products2.csv ...
Adding line_item_data_products3.parquet ...
Adding order_data_20200101-20200701.parquet ...
Adding order_data_20200701-20211001.pickle ...
Adding order_data_20211001-20220101.csv ...
Adding order_data_20220101-20221201.xlsx ...
Adding order_data_20221201-20230601.json ...
Adding order_data_20230601-20240101.html ...
Adding order_delays.html ...



--------------------------------------------------
Read Complete
Access the DataFrame of each file using the `all` dictionary
e.g. all["filename"]

below are the available keys for access:
1:	product_list.xlsx
2:	user_credit_card.pickle
3:	user_data.json
4:	user_job.csv
5:	merchant_data.html
6:	order_with_merchant_data1.parquet
7:	order_with_merchant_data2.parquet
8:	order_with_merchant_data3.csv
9:	staff_data.html
10:	campaign_data.csv
11:	transactional_campaign_data.csv
12:	line_item_data_prices1.csv
13:	line_item_data_prices2.csv
14:	line_item_data_prices3.parquet
15:	line_item_data_products1.csv
16:	line_item_data_products2.csv
17:	line_item_data_products3.parquet
18:	order_data_20200101-20200701.parquet
19:	order_data_20200701-20211001.pickle
20:	order_data_20211001-20220101.csv
21:	order_data_20220101-20221201.xlsx
22:	order_data_20221201-20230601.json
23:	order_data_20230601-20240101.html
24:	order_delays.html

### Cleaning line item products

In [2]:
#Cleaning line item products
df_item_products1 = all['line_item_data_products1.csv']
df_item_products2 = all['line_item_data_products2.csv']
df_item_products3 = all['line_item_data_products3.parquet']
df_item_products3.nunique()

Unnamed: 0      997174
order_id        252475
product_name       582
product_id         641
dtype: int64

In [3]:
#Combining line item product files
df_item_products = pd.concat([df_item_products1, df_item_products2])

In [4]:
print(df_item_products.shape)
print(df_item_products.nunique())
print(df_item_products.isna().sum())

(1000000, 4)
Unnamed: 0      1000000
order_id         234141
product_name        583
product_id          644
dtype: int64
Unnamed: 0      0
order_id        0
product_name    0
product_id      0
dtype: int64

In [5]:
#Remove Unnamed: 0 column
df_item_products = df_item_products.drop('Unnamed: 0', axis=1)

In [6]:
#Dropping duplicates based on order_id, keep no empty values
df_item_products = df_item_products.drop_duplicates(subset=['order_id'])

In [7]:
#line item products data cleaned completely, to check:
print(df_item_products.shape)
print(df_item_products.nunique())
print(df_item_products.isna().sum())

(234141, 3)
order_id        234141
product_name       576
product_id         644
dtype: int64
order_id        0
product_name    0
product_id      0
dtype: int64

In [8]:
df_item_products.to_parquet('parquet/clean_line_item_products.parquet')

### Cleaning line item prices

In [9]:
#Cleaning line item prices
df_item_prices1 = all['line_item_data_prices1.csv']
df_item_prices2 = all['line_item_data_prices2.csv']
df_item_prices3 = all['line_item_data_prices3.parquet']

print(df_item_prices1.shape)
print(df_item_prices1.nunique())
print(df_item_prices1.isna().sum())

(500000, 4)
Unnamed: 0    500000
order_id      115392
price            239
quantity          60
dtype: int64
Unnamed: 0    0
order_id      0
price         0
quantity      0
dtype: int64

In [10]:
print(df_item_prices2.shape)
print(df_item_prices2.nunique())
print(df_item_prices2.isna().sum())

(500000, 4)
Unnamed: 0    500000
order_id      118857
price            238
quantity          60
dtype: int64
Unnamed: 0    0
order_id      0
price         0
quantity      0
dtype: int64

In [11]:
print(df_item_prices3.shape)
print(df_item_prices3.nunique())
print(df_item_prices3.isna().sum())

(997174, 4)
Unnamed: 0    997174
order_id      252475
price            236
quantity          60
dtype: int64
Unnamed: 0    0
order_id      0
price         0
quantity      0
dtype: int64

In [12]:
df_item_prices2.sample(20)

        Unnamed: 0                              order_id  price quantity
116216      616216  a49fe85d-7608-4981-b706-2b270f14ab53  38.07     2pcs
299764      799764  429ede2a-c641-423a-9884-5e234b837c66  38.07     3PCs
162428      662428  9c3f23a8-2e89-4340-8405-cc16f786d321  17.28     2pcs
100940      600940  d53f0cff-b68d-411a-9e4a-57366eb9b7f5   6.11      8PC
476404      976404  9e2a53ae-79e6-4354-8338-4a7181cd7343  38.07  2pieces
477662      977662  0e4286d6-8ad9-4174-8f93-515bce55f983  31.64     3pcs
83677       583677  1c5d1364-fc00-46f2-8899-5687a02e1623  17.28  2pieces
424802      924802  3ea77864-2dd3-4b5c-af36-05ef864dd333  38.07     1PCs
216562      716562  f53e6454-184f-4113-a8a5-4010534ff7f7  17.28      3PC
397731      897731  574bd2e7-b0aa-48ce-b2e0-7979978ec73b   6.22     3pcs
468483      968483  e20928f3-7a50-4bc9-aedd-4022778cc1c5  17.28     1pcs
488842      988842  efba8356-53fe-4d3a-9d92-abb36a31c572   5.74     4PCs
403423      903423  9671a728-456c-44e8-b128-41c1fcb937f4  17.28      4PC
79845       579845  1c9f0d56-b85a-49f5-b36f-da0c03a6879f   8.09  4pieces
101477      601477  f6db7273-ca73-46f4-b70f-b0a9c196bdb9  17.28      4PC
398918      898918  b212bc59-4dd8-4a35-9a9e-ef8a75670c1b  17.28      3px
143325      643325  d3732839-676f-46fe-95b7-de7556ffb09f  17.28     1pcs
17354       517354  36d77ac0-bf6e-41a8-8d70-9826416d67b1   5.74      4PC
51163       551163  6b1bdbe9-cd64-4b91-b83e-8ef123bfd82d   6.11      3px
375402      875402  b4bc6e0c-b7d2-483d-a334-fa902e22854f   5.74     5PCs

### Cleaning order data

### Cleaning order delays