In [1]:
import pandas as pd
from scripts.load import *

Adding product_list.xlsx ...
Adding user_credit_card.pickle ...
Adding user_data.json ...
Adding user_job.csv ...
Adding merchant_data.html ...
Adding order_with_merchant_data1.parquet ...
Adding order_with_merchant_data2.parquet ...
Adding order_with_merchant_data3.csv ...
Adding staff_data.html ...
Adding campaign_data.csv ...
Adding transactional_campaign_data.csv ...
Adding line_item_data_prices1.csv ...
Adding line_item_data_prices2.csv ...
Adding line_item_data_prices3.parquet ...
Adding line_item_data_products1.csv ...
Adding line_item_data_products2.csv ...
Adding line_item_data_products3.parquet ...
Adding order_data_20200101-20200701.parquet ...
Adding order_data_20200701-20211001.pickle ...
Adding order_data_20211001-20220101.csv ...
Adding order_data_20220101-20221201.xlsx ...
Adding order_data_20221201-20230601.json ...
Adding order_data_20230601-20240101.html ...
Adding order_delays.html ...



--------------------------------------------------
Read Complete
Access the DataFrame of each file using the `all` dictionary
e.g. all["filename"]

below are the available keys for access:
1:	product_list.xlsx
2:	user_credit_card.pickle
3:	user_data.json
4:	user_job.csv
5:	merchant_data.html
6:	order_with_merchant_data1.parquet
7:	order_with_merchant_data2.parquet
8:	order_with_merchant_data3.csv
9:	staff_data.html
10:	campaign_data.csv
11:	transactional_campaign_data.csv
12:	line_item_data_prices1.csv
13:	line_item_data_prices2.csv
14:	line_item_data_prices3.parquet
15:	line_item_data_products1.csv
16:	line_item_data_products2.csv
17:	line_item_data_products3.parquet
18:	order_data_20200101-20200701.parquet
19:	order_data_20200701-20211001.pickle
20:	order_data_20211001-20220101.csv
21:	order_data_20220101-20221201.xlsx
22:	order_data_20221201-20230601.json
23:	order_data_20230601-20240101.html
24:	order_delays.html

### line_item_data_prices1

In [2]:
prices1 = all['line_item_data_prices1.csv']

In [3]:
prices1

        Unnamed: 0                              order_id  price quantity
0                0  8d8acbac-ccbb-4609-a978-98dee3ac3088  12.81      6px
1                1  59e4c308-5262-486d-9f1a-12b1278e3c44  14.00  6pieces
2                2  30fc1b76-c488-4077-8d70-3236e3afc990   6.78     4pcs
3                3  6b273d38-b472-4bb2-8b74-a26705c707fa   8.72      4px
4                4  6b273d38-b472-4bb2-8b74-a26705c707fa   8.83  5pieces
...            ...                                   ...    ...      ...
499995      499995  61c1751e-f17b-494a-a9a2-33c6694d6036  38.07   1piece
499996      499996  61c1751e-f17b-494a-a9a2-33c6694d6036  38.07     3pcs
499997      499997  44f739c2-73f4-491c-a932-c1362831e0e3  38.07  1pieces
499998      499998  44f739c2-73f4-491c-a932-c1362831e0e3  38.07      1PC
499999      499999  f1c591a5-fd7c-498f-ae4e-2739334878ce  38.07  1pieces

[500000 rows x 4 columns]

In [4]:
# quantity not conformed

prices1['quantity']

0             6px
1         6pieces
2            4pcs
3             4px
4         5pieces
           ...
499995     1piece
499996       3pcs
499997    1pieces
499998        1PC
499999    1pieces
Name: quantity, Length: 500000, dtype: object

In [5]:
# trim and regex

#prices1["quantity"] = prices1["quantity"].str.replace(r'\D', '', regex=True)

In [6]:
# confirm shape

prices1.shape

(500000, 4)

In [7]:
# checking for duplicates

prices1['order_id'].nunique()

115392

In [8]:
# checking if all order_id follows UUID

prices1[prices1.order_id.str.fullmatch(r'^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$')]

        Unnamed: 0                              order_id  price quantity
0                0  8d8acbac-ccbb-4609-a978-98dee3ac3088  12.81      6px
1                1  59e4c308-5262-486d-9f1a-12b1278e3c44  14.00  6pieces
2                2  30fc1b76-c488-4077-8d70-3236e3afc990   6.78     4pcs
3                3  6b273d38-b472-4bb2-8b74-a26705c707fa   8.72      4px
4                4  6b273d38-b472-4bb2-8b74-a26705c707fa   8.83  5pieces
...            ...                                   ...    ...      ...
499995      499995  61c1751e-f17b-494a-a9a2-33c6694d6036  38.07   1piece
499996      499996  61c1751e-f17b-494a-a9a2-33c6694d6036  38.07     3pcs
499997      499997  44f739c2-73f4-491c-a932-c1362831e0e3  38.07  1pieces
499998      499998  44f739c2-73f4-491c-a932-c1362831e0e3  38.07      1PC
499999      499999  f1c591a5-fd7c-498f-ae4e-2739334878ce  38.07  1pieces

[500000 rows x 4 columns]

### line_item_data_prices2

In [9]:
prices2 = all['line_item_data_prices2.csv']

In [10]:
prices2

        Unnamed: 0                              order_id  price quantity
0           500000  f1c591a5-fd7c-498f-ae4e-2739334878ce  38.07      4PC
1           500001  8a720341-a145-4a7c-b2d5-ac3c6e0d8da8  38.07     4pcs
2           500002  8a720341-a145-4a7c-b2d5-ac3c6e0d8da8  38.07     4PCs
3           500003  fd365f1c-9c25-4544-b4b2-fd9f55d3e6e2  38.07     2PCs
4           500004  fd365f1c-9c25-4544-b4b2-fd9f55d3e6e2  38.07  4pieces
...            ...                                   ...    ...      ...
499995      999995  1e199808-c7b5-4fba-ab74-6ff46d3195fb  38.62   5piece
499996      999996  552e5cdc-6e1d-4b90-a721-012644ffc42f  36.11     9PCs
499997      999997  552e5cdc-6e1d-4b90-a721-012644ffc42f  36.11     5pcs
499998      999998  060d9363-3ce4-4acf-9195-5c9e6d835fc5  52.55      5PC
499999      999999  060d9363-3ce4-4acf-9195-5c9e6d835fc5  52.55    10pcs

[500000 rows x 4 columns]

In [11]:
# quantity not conformed

prices2['quantity']

0             4PC
1            4pcs
2            4PCs
3            2PCs
4         4pieces
           ...
499995     5piece
499996       9PCs
499997       5pcs
499998        5PC
499999      10pcs
Name: quantity, Length: 500000, dtype: object

In [12]:
# trim and regex

#prices2["quantity"] = prices2["quantity"].str.replace(r'\D', '', regex=True)

In [13]:
prices2

        Unnamed: 0                              order_id  price quantity
0           500000  f1c591a5-fd7c-498f-ae4e-2739334878ce  38.07      4PC
1           500001  8a720341-a145-4a7c-b2d5-ac3c6e0d8da8  38.07     4pcs
2           500002  8a720341-a145-4a7c-b2d5-ac3c6e0d8da8  38.07     4PCs
3           500003  fd365f1c-9c25-4544-b4b2-fd9f55d3e6e2  38.07     2PCs
4           500004  fd365f1c-9c25-4544-b4b2-fd9f55d3e6e2  38.07  4pieces
...            ...                                   ...    ...      ...
499995      999995  1e199808-c7b5-4fba-ab74-6ff46d3195fb  38.62   5piece
499996      999996  552e5cdc-6e1d-4b90-a721-012644ffc42f  36.11     9PCs
499997      999997  552e5cdc-6e1d-4b90-a721-012644ffc42f  36.11     5pcs
499998      999998  060d9363-3ce4-4acf-9195-5c9e6d835fc5  52.55      5PC
499999      999999  060d9363-3ce4-4acf-9195-5c9e6d835fc5  52.55    10pcs

[500000 rows x 4 columns]

In [14]:
# dropping duplicates

#prices2 = all['line_item_data_prices2.csv'].drop_duplicates(subset=['order_id'])

In [15]:
# confirming shape

prices2.shape

(500000, 4)

In [16]:
# checking for duplicates

prices2['order_id'].nunique()

118857

In [17]:
# checking null values count per column

prices2.isnull().sum()

Unnamed: 0    0
order_id      0
price         0
quantity      0
dtype: int64

In [18]:
# checking null values per column

prices2.isna().sum()

Unnamed: 0    0
order_id      0
price         0
quantity      0
dtype: int64

### line_item_data_prices3.parquet

In [19]:
prices3 = pd.read_parquet('./Project Dataset/Operations Department/line_item_data_prices3.parquet')

In [20]:
prices3

        Unnamed: 0                              order_id  price quantity
0          1000000  dc70f978-3a6b-4baf-b97e-4a88690a34fe  42.13      8PC
1          1000001  dc70f978-3a6b-4baf-b97e-4a88690a34fe  42.13   5piece
2          1000002  3556b3e7-046a-4148-b1cb-d86ee7ee5421  42.13     10PC
3          1000003  3556b3e7-046a-4148-b1cb-d86ee7ee5421  42.13     5pcs
4          1000004  29b63149-3b3c-4309-a751-7d0a563f7c12  40.87      5PC
...            ...                                   ...    ...      ...
997169     1997169  8a985165-e1b4-4f91-a8c4-86f54c806a9c  17.28     5pcs
997170     1997170  7285b9ed-a45a-4aa0-86fb-2abae50780f8  17.28   5piece
997171     1997171  35ad8f1d-9014-4430-bed3-f803b46d48a6  38.07     6PCs
997172     1997172  38320c44-fea2-46b1-adfc-c4be22865c78  17.28  3pieces
997173     1997173  0446efea-bbb6-4d85-aa6e-51381f440595  17.28   4piece

[997174 rows x 4 columns]

In [21]:
# quantity not conformed

prices2['quantity']

0             4PC
1            4pcs
2            4PCs
3            2PCs
4         4pieces
           ...
499995     5piece
499996       9PCs
499997       5pcs
499998        5PC
499999      10pcs
Name: quantity, Length: 500000, dtype: object

In [22]:
# trim and regex

#prices2["quantity"] = prices2["quantity"].str.replace(r'\D', '', regex=True)

In [23]:
prices2

        Unnamed: 0                              order_id  price quantity
0           500000  f1c591a5-fd7c-498f-ae4e-2739334878ce  38.07      4PC
1           500001  8a720341-a145-4a7c-b2d5-ac3c6e0d8da8  38.07     4pcs
2           500002  8a720341-a145-4a7c-b2d5-ac3c6e0d8da8  38.07     4PCs
3           500003  fd365f1c-9c25-4544-b4b2-fd9f55d3e6e2  38.07     2PCs
4           500004  fd365f1c-9c25-4544-b4b2-fd9f55d3e6e2  38.07  4pieces
...            ...                                   ...    ...      ...
499995      999995  1e199808-c7b5-4fba-ab74-6ff46d3195fb  38.62   5piece
499996      999996  552e5cdc-6e1d-4b90-a721-012644ffc42f  36.11     9PCs
499997      999997  552e5cdc-6e1d-4b90-a721-012644ffc42f  36.11     5pcs
499998      999998  060d9363-3ce4-4acf-9195-5c9e6d835fc5  52.55      5PC
499999      999999  060d9363-3ce4-4acf-9195-5c9e6d835fc5  52.55    10pcs

[500000 rows x 4 columns]

In [24]:
# dropping duplicates

#prices2 = all['line_item_data_prices2.csv'].drop_duplicates(subset=['order_id'])

In [25]:
# confirming shape

prices2.shape

(500000, 4)

In [26]:
# checking for duplicates

prices2['order_id'].nunique()

118857

In [27]:
# checking null values count per column

prices2.isnull().sum()

Unnamed: 0    0
order_id      0
price         0
quantity      0
dtype: int64

In [28]:
# checking null values per column

prices2.isna().sum()

Unnamed: 0    0
order_id      0
price         0
quantity      0
dtype: int64

---

In [29]:
products1 = all['line_item_data_products1.csv']

In [30]:
products1.sample(20)

,Unnamed: 0,order_id,product_name,product_id
176912,176912,16877360-5bb4-4a3a-845a-fc48ccd469be,ice cream stick,PRODUCT27721
153275,153275,afb5dc51-74f9-4baa-b54c-54fb73c5adb2,Grandmas swedish thin pancakes,PRODUCT16794
422361,422361,1c93774c-90d4-46ca-8c28-15a5cc2eb84e,smart television,PRODUCT31495
27445,27445,bea712fc-edcc-4689-bb63-7ca0cd0cd3d9,blue pen,PRODUCT51590
411374,411374,e88a65ea-970f-436a-becf-fd546355c56b,spatula,PRODUCT31846
334304,334304,5d13e62e-f70b-48f8-af97-b274f22f9b1c,beaded bracelet,PRODUCT18900
431410,431410,0e461e95-a0ca-4a0b-a12b-3fb2d2e8d638,rubber band,PRODUCT38477
327538,327538,b592b627-7062-4a84-a9dd-e4bfc1169e96,Moms cheat doughnuts,PRODUCT26612
489310,489310,6a46cda2-58f6-46f0-ac3d-57b68b597514,monitor,PRODUCT47057
92431,92431,f3184f1b-e044-4177-9000-838487a26ca0,bottle of oil,PRODUCT23986
118960,118960,ecc10aa4-d024-4304-851b-9ff627dcc0d6,plush rabbit,PRODUCT32391
291637,291637,6998ab9a-97ad-4c57-a4df-36f9c78eaf21,small notebook,PRODUCT32152
227646,227646,00aa98fc-6ec7-4f8f-a456-04c1e96451f9,outlet,PRODUCT22100
23845,23845,4c353d89-1628-472a-ab4b-32ff71862dfd,credit card holder,PRODUCT25317
120071,120071,913c3f04-5878-4786-b4c4-9d1bfe169261,Chocolate coconut dream bars,PRODUCT05572
124168,124168,b98998e8-5f9a-45d5-9ac6-dd4aa2389b6f,toy robot,PRODUCT06160
129014,129014,131be91d-0b22-4ced-af38-96bde54e3c81,Sweet and sour kielbasa kabobs,PRODUCT55244
166911,166911,eb037000-8d9c-4493-9f35-1ac717d51b47,cucumber,PRODUCT45177
153199,153199,8767973d-e984-42b8-9ff9-a67242152083,video recorder,PRODUCT13660
426732,426732,f8c78190-f31a-437b-a024-df7482c89719,toy soldier,PRODUCT22934

In [31]:
products1.shape

(500000, 4)

In [32]:
# checking for duplicates

products1['order_id'].nunique()

115392

In [ ]:
# dropping duplicates

#products1 = all['line_item_data_products1.csv'].drop_duplicates(subset=['order_id'])

In [33]:
# checking null values per column

products1.isna().sum()

Unnamed: 0      0
order_id        0
product_name    0
product_id      0
dtype: int64

In [34]:
# checking product_id structure -> PRODUCT + 5 digits

products1[products1.product_id.str.fullmatch(r'^PRODUCT\d{5}$')]

,Unnamed: 0,order_id,product_name,product_id
0,0,8d8acbac-ccbb-4609-a978-98dee3ac3088,Grandmas swedish thin pancakes,PRODUCT16794
1,1,59e4c308-5262-486d-9f1a-12b1278e3c44,Blackberry breakfast bars,PRODUCT56387
2,2,30fc1b76-c488-4077-8d70-3236e3afc990,Moms cheat doughnuts,PRODUCT26612
3,3,6b273d38-b472-4bb2-8b74-a26705c707fa,Baked swiss cheese omelet,PRODUCT17344
4,4,6b273d38-b472-4bb2-8b74-a26705c707fa,Egg flowers,PRODUCT07816
...,...,...,...,...
499995,499995,61c1751e-f17b-494a-a9a2-33c6694d6036,clock,PRODUCT14601
499996,499996,61c1751e-f17b-494a-a9a2-33c6694d6036,clock,PRODUCT14601
499997,499997,44f739c2-73f4-491c-a932-c1362831e0e3,clock,PRODUCT14601
499998,499998,44f739c2-73f4-491c-a932-c1362831e0e3,clock,PRODUCT14601
499999,499999,f1c591a5-fd7c-498f-ae4e-2739334878ce,clock,PRODUCT14601